*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    /* Dark on any other color */
    --high: #f4718f;
    --medium: #ffb60a;
    --low: #38fac6;
    --accent: #1fb7ea;
    --dark: #020f13;
    --light: #ffffff;
    --accent-light: #c8eff9;
    box-sizing: border-box;
}

body, html {
    color: var(--dark);
    background-color: var(--light);
}

ul {
    appearance: none;
    list-style-type: circle;
    font-size: 1.2rem;
}

li {
    line-height: 1.8em;
}

img {
    height: 1.2rem;
}

button {
    appearance: none;
    align-self: center;
    font-weight: 700;
    background-color: var(--light);
    border: solid 2px var(--accent);
    border-radius: 10px;
}

button:hover {
    background-color: var(--accent);
    border-color: var(--dark);
}

#task-btn, 
#projects-btn {
    padding: 5px 10px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid: 100px 1fr / 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar tasks";
}

.header {
    grid-area: header;
    background-color: var(--accent);
    box-shadow: 0 5px 5px var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    grid-area: sidebar;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: var(--accent-light);
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sidebar-section > ul {
    align-self: baseline;
}

.project-list > li > * {
    display: flex;
    gap: 5px;
    width: 170px;
}

.project-list > li > * > :first-child {
    flex: 1;
}

.tasks {
    grid-area: tasks;
    padding: 20px;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: 
        "checkbox task";
    gap: 5px;
}

.task {
    grid-area: task;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) repeat(4, 100px);
    grid-template-areas: 
        "title project priority date details";
    padding: 5px 20px;
    gap: 5px;
    border: 2px solid var(--accent);
    border-radius: 30px;
}

.task-heading {
    display: grid;
    grid-template-columns: 50px minmax(200px, 1fr) repeat(4, 100px);
    grid-template-areas: 
        "checkbox title project priority date details";
    gap: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 700;
}

.task > *,
.task-heading > * {
    text-align: center;
}

.task > * {
    padding: 5px;
}

.check-btn,
.check-btn:hover {
    grid-area: checkbox;
    appearance: none;
    background-color: var(--light);
    border: none;
    padding: none;
    height: 44px;
}

.check-btn > img {
    height: 44px;
}

.check-btn > img:hover,
.check-btn > img:focus-visible {
    content: url('./marked.svg');
}

.title {
    grid-area: title;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project {
    grid-area: project;
}

.priority {
    grid-area: priority;
}

.dueDate {
    grid-area: date;
}

.details-btn {
    grid-area: details;
}

.priority-high {
    background: linear-gradient(.45turn, var(--high), var(--light) 30%);
}

.priority-medium {
    background: linear-gradient(.45turn, var(--medium), var(--light) 30%);
}

.priority-low {
    background: linear-gradient(.45turn, var(--low), var(--light) 30%);
}

.past-due {
    background-color: var(--high);
    border-radius: 10px;
}

.due-soon {
    background-color: var(--low);
    border-radius: 10px;
}

.form-container {
    /* Visibility toggles on button */
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
}

#task-form,
#projects-form, 
#details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* Position absolutely in the center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: min-content;
    width: 350px;
    border: 5px solid var(--accent);
    border-radius: 10px;
    padding: 30px;
    gap: 10px;
    background-color: var(--light);
}

#close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}